<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragment/header.html :: fragment-header}"></th:block>
    <link rel="stylesheet" href="/css/erdLayout.css"/>
</head>

<style>
    #referListDiv{
        margin: 5px;
        line-height: 2;
    }

    #referListDiv span {
        margin:0px 5px 0px 5px;
    }

</style>

<body>
<th:block th:replace="~{fragment/navbar.html :: fragment-navbar}"></th:block>

<div class="content">
    <div class="wrap">
        <div class="left">
            <div class="menu">
                <h3>재무관리</h3>
                <a th:href="@{/pmi/list}">공금 현황</a>
                <a class="on" th:href="@{/pmi/add}">공금 입출금 등록</a>
            </div>
        </div>

        <form method="post" id="addForm">
            <div id='content' class='right'>
                <!-- 컨텐츠 안내 -->
                <div class="title">공금 입출금 등록</div>
                <div class="descript">공금 입출금 정보를 등록합니다.</div>

                <div class='tbl-info'>
                    <div>
                        <table>
                            <colgroup>
                                <col style="width:20%;">
                                <col style="">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>제목</th>
                                <td>
                                    <input type="text" id="pmiTit" name="pmiTit" style="width:278px" maxlength="100"/>
                                </td>
                            </tr>
                            <tr>
                                <th>공금정보 일자</th>
                                <td>
                                    <input type="date" id="pmiDt" name="pmiDt" style="width:278px"/>
                                </td>
                            </tr>
                            <tr>
                                <th>공금 추가 여부</th>
                                <td>
                                    <label>추가</label>
                                    <input type="radio" name="pmiAddYn" value="추가" checked = "checked"/>
                                    <label>삭제</label>
                                    <input type="radio" name="pmiAddYn" value="사용"/>
                                </td>
                            </tr>
                            <tr>
                                <th>공금 금액</th>
                                <td>
                                    <input type="number" id="pmiPay" name="pmiPay" style="width:278px"/>
                                </td>
                            </tr>
                            <tr>
                                <th>공금정보 내용</th>
                                <td>
                                    <textarea maxlength="5000" id="pmiCont" name="pmiCont" style="min-height: 300px; min-width:700px; max-width:700px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>첨부파일</th>
                                <td>
                                    <input type="file" id="files" name="files" multiple="multiple"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- button -->
                    <div class="btn-bottom-btn">
                        <button type="button" id="add">등록</button>
                        <button type='button'>취소</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="footer" class="footer">
    <div class="wrap">
        Copyright ⓒ MMP All Rights Reserved.
    </div>
</div>

</body>

<script>
    $('#add').click(function(){
        if($('#pmiTit').val() == '' || $('#pmiTit').val() == null){
            alert('제목을 입력해주세요.');
            return false;
        }

        if($('#pmiDt').val() == '' || $('#pmiDt').val() == null){
            alert('공금정보 일자를 입력해주세요.');
            return false;
        }

        if($('input[name=pmiAddYn]').val() == '' || $('input[name=pmiAddYn]').val() == null){
            alert('공금 추가 여부를 선택해주세요.');
            return false;
        }

        if($('#pmiPay').val() == '' || $('#pmiPay').val() == null){
            alert('공금 금액을 입력해주세요.');
            return false;
        }

        if($('#pmiCont').val() == '' || $('#pmiCont').val() == null){
            alert('내용을 입력해주세요.');
            return false;
        }

        var checkAddYn=null;
        for(var i=0; i<('input[name=pmiAddYn]').length; i++){
            if($('input[name=pmiAddYn]').eq(i).prop('checked')) {
                checkAddYn = $('input[name=pmiAddYn]').eq(i).val();
            }
        }

        var formData = {
            pmiTit : $('#pmiTit').val().trim(),
            pmiDt : $('#pmiDt').val(),
            pmiAddYn : checkAddYn,
            pmiPay : $('#pmiPay').val(),
            pmiCont : $('#pmiCont').val(),
        };

        var param = new FormData();

        if($('#files')[0].files.length > 0){ // 이미지 첨부 했을 시
            var filesArr = new Array();

            for(var i=0; i<$('#files')[0].files.length; i++){
                filesArr.push($('#files')[0].files[i]);
            }

            for(var j=0; j<filesArr.length; j++){
                param.append("files", filesArr[j]);
            }
        }
        else{ // 이미지 첨부하지 않았을 시

        }

        param.append("formData" , JSON.stringify(formData));

        $.ajax({
            type:'post',
            enctype:"multipart/form-data",
            processData:false,
            contentType: false,
            url:'/pmi/add',
            data:param,
            success:function(data){
                location.href=data.url;
            },
            error:function(error){
                console.log(error);
            }
        })


    });


</script>

</html>
