<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragment/header.html :: fragment-header}"></th:block>
	<link rel="stylesheet" href="/css/erdLayout.css"/>
</head>

<style>
.deleteTxt{
    background: none !important;
    border: none !important;
}

</style>

<body>
    <th:block th:replace="~{fragment/navbar.html :: fragment-navbar}"></th:block>

	<div class="content">
		<div class="wrap">
			<div class="left">
	            <div class="menu">
	                <h3>업무관리</h3>
	                <a class="on" th:href="@{/bsn/list}">업무목록</a>
	                <a th:href="@{/bsn/add}">업무등록</a>
	            </div>
	        </div>
	        
	        <div id='content' class='right'>
		    	<!-- 컨텐츠 안내 -->
		        <div class="title">상세정보</div>
		        <div class="descript">업무 정보를 자세히 확인합니다.</div>
		        
		        <!-- hidden -->
	    		<input type="hidden" id="bsnNo" name="bsnNo" th:value="${bsnDto.bsnNo}" style="width:98%;"/>
	    		<input type="hidden" id="bsnStfNo" name="bsnStfNo" th:value="${bsnDto.bsnStfNo}" style="width:98%;"/>
	    			
	    		<div class='tbl-info'>
	    			<div>
	    					<table>
	    						<colgroup>
	    							<col style="width:20%;">
	    							<col style="">
	    						</colgroup>
	    						<tbody>
	    							<tr>
	    								<th>제목</th>
	    								<td th:text="${bsnDto.bsnTit}"></td>
	    							</tr>
	    							<tr>
	    								<th>작성자</th>
	    								<td th:text="${bsnDto.bsnWrtNm}"></td>
	    							</tr>
	    							<tr>
	    								<th>작성일자</th>
	    								<td th:text="${bsnDto.bsnWrtDt}"></td>
	    							</tr>
	    							<th:block th:if="${!#lists.isEmpty(bsnRefList)}">
	    							<tr>
	    								<th>참조</th>
	    								<td>
	    									<th:block th:each="item , i: ${bsnRefList}" th:value="${item.bsnRefNo}">
	    										<a th:text="${item.bsnRefStfNm}" th:href="@{/staff/detail(stfNo=${item.bsnRefStfNo})}"></a>
	    									</th:block>
	    								</td>
	    							</tr>
	    							</th:block>
	    							<tr>
	    								<th>업무기간일자</th>
	    								<td th:text="|${bsnDto.bsnStartDt} ~ ${bsnDto.bsnEndDt}|"></td>
	    							</tr>
	    							<tr>
	    								<th>업무내용</th>
	    								<td th:utext="${bsnDto.bsnCont}" style="word-break:break-all"></td>
	    							</tr>
	    							<tr>
	    								<th>첨부파일</th>
	    								<td>
	    									<th:block th:if="${!#lists.isEmpty(bsnFilesList)}">
			    								<th:block th:each="item , i: ${bsnFilesList}">
			    									<a th:text="${item.atcOriNm}" th:href='|https://360map.co.kr/mmp-groupware/bsnFiles/${item.atcUpNm}|' download="download"></a>
			    								</th:block>
		    								</th:block>
	    								</td>
	    							</tr>
	    						</tbody>
	    					</table>
	    				</div>
	    			
	    			
		    		<th:block th:if="${!#lists.isEmpty(bcList)}">
			    		<div class="comment-area">
			    			<ul>
			    				<th:block th:each="item , i: ${bcList}">
			    				<li>
				    				<div th:text="${item.bsnCommWrtStfNm}"></div>
				    				<div>
				    					<span th:text="${item.bsnCommCont}"></span>
				    					<span th:text="${item.bsnCommWrtDt}"></span>
				    					<th:block th:if="${item.bsnCommWrtStfNo == session.stfNo}">
				    					<a class="deleteTxt" style="padding:0 !important;" th:value="${item.bsnCommNo}" onclick="deleteBsnComm(this);">삭제</a>
				    					</th:block>
				    				</div>
			    				</li>
			    			</th:block>
			    			</ul>
			    		</div>
	    			</th:block>
		    				
		    		<div class="comment-add-area">
		    			<strong th:text="${session.stfNm}"></strong>
		    			<div>
			    			<textarea id="bsnCommCont" name="bsnCommCont"></textarea>
			    			<button type='button' id="addComm">댓글등록</button>
		    			</div>
		    		</div>
	    		
	    			<!-- button -->
	    			<div class="btn-bottom-btn">
	    				<th:block th:if="${session.authNo == 1}">
				        	<button type="button" id="update">수정</button>
				        	<button type="button" id="delete">삭제</button>
	    				</th:block>
				        <button type='button' id="backList">목록</button>
				   	</div>
	    		
	    		</div>
	        </div>
		</div>
	</div>
    <div id="footer" class="footer">
		<div class="wrap">
			Copyright ⓒ MMP All Rights Reserved.
		</div>
	</div>
	
</body>

<script>
//목록
$('#backList').click(function(e){
	location.href="/bsn/list";
});
//수정
$('#update').click(function(e){
	location.href="/bsn/edit?bsnNo="+$('#bsnNo').val();
});
//삭제
$('#delete').click(function(e){
	if(!confirm("삭제하시겠습니까?")){
		return false;
	}
	var param = {
			bsnNo : $("#bsnNo").val()
	};	
	
	$.ajax({
		type:'post',
		contentType:'application/json',
		url:'/bsn/delete',
		data:JSON.stringify(param),
		success:function(data){
			debugger;
			if(data.code=="success"){
				alert("삭제되었습니다");
				location.href="/bsn/list";
			}
		},
		error:function(error){
			
		}
	});
});

// 코맨트 등록
$('#addComm').click(function(){
	var param = {
			bsnNo : $("#bsnNo").val(),
			bsnCommCont : $("#bsnCommCont").val()
	};	
	
	$.ajax({
		type:'post',
		contentType:'application/json',
		url:'/bsn/addBsnComm',
		data:JSON.stringify(param),
		success:function(data){
			debugger;
			if(data.code=="success"){
				alert("댓글이 등록되었습니다");
				location.href=data.url;
			}
		},
		error:function(error){
			
		}
	});
	
});

// 코맨트 삭제
function deleteBsnComm(param){
	
	var formData = {
			bsnCommNo : $(param).attr('value'),
			bsnNo : $('#bsnNo').val(),
			bsnStfNo : $('#bsnStfNo').val(),
	}
	
	$.ajax({
		type:'post',
		contentType:'application/json',
		url:'/bsn/deleteBsnComm',
		data:JSON.stringify(formData),
		success:function(data){
			debugger;
			if(data.code=="success"){
				alert("댓글이 삭제되었습니다");
				location.href=data.url;
			}
		},
		error:function(error){
		}
	});	
	debugger;
}
</script>
</html>




















