<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragment/header.html :: fragment-header}"></th:block>
    <link rel="stylesheet" href="/css/erdLayout.css"/>
</head>

<style>
    #referListDiv{
        margin: 5px;
        line-height: 2;
    }

    #referListDiv span {
        margin:0px 5px 0px 5px;
    }

</style>

<body>
<th:block th:replace="~{fragment/navbar.html :: fragment-navbar}"></th:block>

<div class="content">
    <div class="wrap">
        <div class="left">
            <div class="menu">
                <h3>게시판</h3>
                <a class="on" th:href="@{/brd/list}">게시판 목록</a>
                <a th:href="@{/brd/add}">게시물 등록</a>
            </div>
        </div>

        <form method="post" id="updateForm">

            <!-- hidden -->
            <input type="hidden" id="brdNo" name="brdNo" th:value="${brdDto.brdNo}" />

            <div id='content' class='right'>
                <!-- 컨텐츠 안내 -->
                <div class="title">게시물 수정</div>
                <div class="descript">게시물 정보를 수정합니다.</div>

                <div class='tbl-info'>
                    <div>
                        <table>
                            <colgroup>
                                <col style="width:22%;">
                                <col style="">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>제목</th>
                                <td>
                                    <input type="text" id="brdTit" name="brdTit" style="width:278px" maxlength="100" th:value="${brdDto.brdTit}"/>
                                </td>
                            </tr>
                            <tr>
                                <th>공지 여부</th>
                                <td>
                                    <th:block th:if="${brdDto.brdNtcYn == 'Y'}">
                                        <label>Y</label>
                                        <input type="radio" name="brdNtcYn" value="Y" checked = "checked"/>
                                        <label>N</label>
                                        <input type="radio" name="brdNtcYn" value="N"/>
                                    </th:block>
                                    <th:block th:if="${brdDto.brdNtcYn == 'N'}">
                                        <label>Y</label>
                                        <input type="radio" name="brdNtcYn" value="Y"/>
                                        <label>N</label>
                                        <input type="radio" name="brdNtcYn" value="N" checked = "checked"/>
                                    </th:block>
                                </td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td>
                                    <textarea maxlength="5000" id="brdCont" th:text="${brdDto.brdCont}" name="brdCont" style="min-height: 300px; min-width:700px; max-width:700px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>첨부파일</th>
                                <td>
                                    <input type="file" id="files" name="files" multiple="multiple"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- button -->
                    <div class="btn-bottom-btn">
                        <button type="button" id="add">수정</button>
                        <button type='button'>취소</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="footer" class="footer">
    <div class="wrap">
        Copyright ⓒ MMP All Rights Reserved.
    </div>
</div>

</body>

<script>
    $('#add').click(function(){
        if($('#brdTit').val() == '' || $('#brdTit').val() == null){
            alert('제목을 입력해주세요.');
            return false;
        }

        if($('#brdCont').val() == '' || $('#brdCont').val() == null){
            alert('내용을 입력해주세요.');
            return false;
        }

        var formData = {
            brdNo : $('#brdNo').val(),
            brdTit : $('#brdTit').val().trim(),
            brdCont : $('#brdCont').val(),
            brdNtcYn: $('input[name=brdNtcYn]').val(),
        };

        var param = new FormData();

        if($('#files')[0].files.length > 0){ // 이미지 첨부 했을 시
            var filesArr = new Array();

            for(var i=0; i<$('#files')[0].files.length; i++){
                filesArr.push($('#files')[0].files[i]);
            }

            for(var j=0; j<filesArr.length; j++){
                param.append("files", filesArr[j]);
            }
        }
        else{ // 이미지 첨부하지 않았을 시

        }

        param.append("formData" , JSON.stringify(formData));

        $.ajax({
            type:'post',
            enctype:"multipart/form-data",
            processData:false,
            contentType: false,
            url:'/brd/edit',
            data:param,
            success:function(data){
                location.href=data.url;
            },
            error:function(error){
                console.log(error);
            }
        })


    });

</script>

</html>

