<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragment/header.html :: fragment-header}"></th:block>
    <link rel="stylesheet" href="/css/erdLayout.css"/>
</head>

<body>
    <th:block th:replace="~{fragment/navbar.html :: fragment-navbar}"></th:block>

    <div class="content">
        <div class="wrap">
            <div class="left">
                <div class="menu">
                    <h3>일정관리</h3>
                    <a class="on" th:href="@{/cal/list}">일정목록</a>
                    <a th:href="@{/cal/add}">일정등록</a>
                </div>
            </div>

            <form method="get">
                <div id='content' class='right'>
                    <!-- 컨텐츠 안내 -->
                    <div class="title">일정</div>
                    <div class="descript">일정을 캘린더로 표시합니다.</div>
                </div>
            </form>

        </div>
    </div>
    <div id="footer" class="footer">
        <div class="wrap">
            Copyright ⓒ MMP All Rights Reserved.
        </div>
    </div>

</body>

<script>
    function detail(param){
        debugger;
        var thisNo = $(param).attr('value');

        if(thisNo != null && thisNo != ''){
            location.href="/cal/detail?calNo="+thisNo;
        }
    }
</script>

</html>