<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="~{fragment/header.html :: fragment-header}"></th:block>
  <link rel="stylesheet" href="/css/erdLayout.css" />
</head>

<body>
<th:block th:replace="~{fragment/navbar.html :: fragment-navbar}"></th:block>

<div class="content">
  <div class="wrap">
    <div class="left">
      <div class="menu">
        <h3>출퇴근</h3>
        <a class="on" th:href="@{/commute/add}">출퇴근하기</a>
        <th:block th:if="${session.authNo == 1}">
          <a th:href="@{/commute/list}">전체 출퇴근 현황</a>
        </th:block>
        <a th:href="@{/commute/myList}">나의 출퇴근 현황</a>
      </div>
    </div>

    <div id='content' class="right">
      <div class="title">출퇴근하기</div>
      <div class="descript">출퇴근 기록을 남깁니다.</div>

      <div class="tbl-info">
        <div>
          <table>
            <colgroup>
              <col style="width:20%;">
              <col style="">
            </colgroup>
            <tbody>
            <tr>
              <th>오늘의 날짜</th>
              <td>
                <th:block>
                  <th:block>
                    <span id="date"></span>
                  </th:block>
                </th:block>
              </td>
            </tr>
            <tr>
              <th>출근</th>
              <td>
                <th:block>
                  <th:block>
                    <button type="button" id="attend">출근하기</button>

                  </th:block>
                </th:block>
              </td>
            </tr>
            <tr>
              <th>퇴근</th>
              <td>
                <th:block>
                  <th:block>
                    <button type="button" id="leave">퇴근하기</button>
                  </th:block>
                </th:block>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="footer">
    <div class="wrap">
      Copyright ⓒ MMP All Rights Reserved.
    </div>
  </div>
</div>
</body>
<script>
    // 오늘의 날짜
	let date = new Date();
    document.getElementById('date').innerHTML = date.getFullYear() + "년 "
		+ (date.getMonth() + 1) + "월 " + date.getDate() + "일";

    // 출퇴근 버튼 활성화
    let isAttended = localStorage.getItem('isAttended');

    if (isAttended == 'true') {
      document.getElementById('attend').disabled = true;
	  document.getElementById('leave').disabled = false;
    } else {
      document.getElementById('attend').disabled = false;
	  document.getElementById('leave').disabled = true;
	}

    // 출근
    document.getElementById('attend').addEventListener('click',()=>{
      let atteDate = new Date();
      var formData = {
        atteYn : '출근',
        atteTime : atteDate,
        leavedTime : null,
        createDt : atteDate,
        updateDt : null,
        deleteDt : null,
      }

      $.ajax({
        type: 'post',
        contentType:'application/json',
		url:'/commute/add',
		data:JSON.stringify(formData),
		success:function(data){
		    localStorage.setItem('isAttended', 'true');

			location.href=data.url;
			document.getElementById('attend').disabled = true;
	        document.getElementById('leave').disabled = false;
		},
		error:function(error){
			console.log(error);
		}
      });

    });

    // 퇴근
    document.getElementById('leave').addEventListener('click',()=>{
      localStorage.setItem('isAttended', 'false');
      document.getElementById('attend').disabled = false;
	  document.getElementById('leave').disabled = true;
    });
</script>

</html>